<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yangzhe.learnactivity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".LearnAndroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DialogActivity"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar" />
        <activity android:name="com.example.yangzhe.learnhandler.HandlerActivity" />
        <activity android:name="com.example.yangzhe.learnhandler.HanderMessageActivity" />
        <activity android:name=".LearnFragmentActivity" />
        <activity android:name=".ImageLoaderActivity" />
        <activity android:name="com.example.yangzhe.learnlayout.StaggeredGridLayoutActivity" />
        <activity
            android:name="com.example.yangzhe.learnjson.LearnJsonActivity"
            android:label="@string/title_activity_learn_json"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.yangzhe.learnjson.ShowMeinvActivity"
            android:label="@string/title_activity_show_meinv"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.yangzhe.learnasynctask.LearnAsyncTaskActivity" />
        <activity android:name="com.example.yangzhe.learnlayout.LearnSwipeRereshLayoutActivity" />
        <activity android:name="com.example.yangzhe.learnrxjava.LearnRxJavaActivity" />
        <activity android:name="com.example.yangzhe.learnpicasso.PicassoActivity" />
        <activity android:name="com.example.yangzhe.learnretrofit.RetrofitActivity"></activity>
    </application>

</manifest>